#Container
{
    width: 800px;
    border: 2px solid black;
    height: 700px;

}

#div_ID
{
    background-color: green;
    height: 300px;
    margin-top: 0;
}

#header_ID
{
    background-color: black;
    height: 100px;
    margin-top: 0;
}

 #nav_ID
{
    background-color: gray;
    width: 200px;
    border-left: 2px solid black;
    height: 300px;
}

 #main_ID
{
    background-color: yellow;
     margin-left: 200px;
     margin-top: 0;
width: 560px;
height: 100px;
}